.blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.posts {
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.skillBox {
    background-color: rgb(17, 63, 42);
    box-shadow: 0 0 2px 2px palegreen;
    display: flex;
    align-items: center;;
    justify-content: center;
    margin: 4px;
    height: 2em;
    border-radius: 3px;

}

.skillBox p {
    font-size: 11px;
    padding: 4px;
    margin: 0;
}


@media (max-width: 480px) {
    .blog-container {
        text-align: center;
        justify-content: center;
    }
    .posts {
        flex-direction: column;
    }
  }


