.blog-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.posts {
    display: flex;
    flex-direction: row;
    margin: 0;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.skillBox {
    // box-shadow: 0 0 2px 2px palegreen;
    display: flex;
    align-items: center;;
    justify-content: center;
    margin: 4px;
    height: 2em;
    position: relative;
    box-shadow: inset 0 0 2px 2px palegreen;
    border-radius: 3px;
}

.skillBox::before {
    content: '';
    position: absolute;
    inset: 1px;
    background: hsl(249, 44%, 8%);
    z-index: 0;
    border-radius: 3px;

}

.skillBox::after {
    content: '';
    position: absolute;
    inset: -2px;
    background: linear-gradient(45deg, rgb(0, 255, 229), rgb(0, 156, 0));
    z-index: -1;
    filter: blur(2px);
}

.skillBox p {
    position: relative;
    font-size: 11px;
    padding: 4px;
    margin: 0;
    z-index: 1;
    letter-spacing: 0.5px;
}


@media (max-width: 480px) {
    .blog-container {
        text-align: center;
        justify-content: center;
    }
    .posts {
        flex-direction: column;
    }
  }


