:root {
    --clr-neon: #00fdff;
    --clr-orange: orange;
    --clr-teal: rgb(166, 255, 0);
    --blade-hue: 160;
    --blade-lightness: 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header {
    padding: 1rem 0 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.title {
    color: hsla(0, 100%, 100%, 1);
    font-size: 3.5rem;
    text-decoration: none;
}

.title:hover {
    text-shadow: 0 0 2px white;
}

.lightsaber {
  position: relative;
}

.blade {
  position: absolute;
  background: white;
  width: 22rem;
  height: 0.5rem;
  bottom: 0;
  left: 5rem;
  border-radius: 0 50vh 50vh 0;
  box-shadow: 
              inset 0 0 4px hsl(var(--blade-hue) 100% 50% / 1),
              0 0 1em hsl(var(--blade-hue) 100% 50% / 1),
              0 0 1.5em hsl(var(--blade-hue) 100% 50% / 0.75),
              0 0 2em hsl(var(--blade-hue) 100% 50% / 0.5),
              0 0 3em hsl(var(--blade-hue) 100% 50% / 0.3),
              0 0 5em hsl(var(--blade-hue) 100% 50% / 0.2);
  transform: scaleX(0);
}

.blade::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(var(--blade-hue) 100% 50%);
  border-radius: inherit;
  filter: blur(0.3em);
  opacity: 1;
  z-index: -1;
  animation: pulse linear 5s infinite;
}

.blade {
  animation: slideInFromLeft 1s forwards ease-out;
  transform-origin: left;
  animation-delay: 0.2s;
 
}

@keyframes pulse {
  50% { opacity: 0.2}
}

@keyframes slideInFromLeft {
  0% {
    transform: scaleX(0)
  }
  100% {
    transform: scaleX(1)
  }
}

.hilt {
  display: block;
  width: 5rem;
  height: 0.5rem;
  color: red;
  background-color: red;
  border-radius: 2px 0 0 2px;
  background-image: linear-gradient(to left,
    silver 0 10px,
    hsl(39 75% 50%) 0 14px,
    silver 0 15px,
    black 0 20px,
    silver 0 22px,
    black 0 25px,
    silver 0 27px,
    black 0 30px,
    silver 0 32px,
    black 0 35px,
    silver 0 37px,
    black 0 40px,
    silver 0 42px,
    black 0 45px,
    silver 0 47px,
    black 0 50px,
    silver 0 60px,
    hsl(39 75% 50%) 60px 80px,
    silver 0 100%
  );
}

.neon-button-container {
  display: flex;
  flex-direction: row;
}

.neon-button {
    display: inline-block;
    align-self: flex-start;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    margin-top: 12px;
    padding: 0.2em 0.8em 0.15em;
    border-radius: 0.25em;
    
    text-shadow: 0 0 0.2em hsl(0 0% 100% / 0.3), 0 0 0.5em currentColor; 
    
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    
    position: relative;
  }

  .neon-button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }

  .neon-button::after {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }

.neon-button:hover,
.neon-button:focus {
  color: hsl(323 21% 16%);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before,
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}

button:hover {
    text-shadow: 0 0 2px white;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
}

.neon-button-two {
  display: inline-block;
  align-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-orange);
  border: var(--clr-orange) 0.125em solid;
  margin-top: 12px;
  margin-right: 20px;
  padding: 0.2em 0.8em 0.15em;
  border-radius: 0.25em;
  
  text-shadow: 0 0 0.2em hsl(0 0% 100% / 0.3), 0 0 0.5em currentColor; 
  
  box-shadow: inset 0 0 0.5em 0 var(--clr-orange), 0 0 0.5em 0 var(--clr-orange);
  
  position: relative;
}

.neon-button-two::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-orange);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button-two::after {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  box-shadow: 0 0 2em 0.5em var(--clr-orange);
  opacity: 0;
  background-color: var(--clr-orange);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button-two:hover,
.neon-button-two:focus {
color: white;
text-shadow: white;
}

.neon-button-two:hover::before,
.neon-button-two:focus::before,
.neon-button-two:hover::after,
.neon-button-two:focus::after {
opacity: 1;
}

.neon-button-three {
  display: inline-block;
  align-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-teal);
  border: var(--clr-teal) 0.125em solid;
  margin-top: 12px;
  margin-right: 20px;
  padding: 0.2em 0.8em 0.15em;
  border-radius: 0.25em;
  
  text-shadow: 0 0 0.2em hsl(0 0% 100% / 0.3), 0 0 0.5em currentColor; 
  
  box-shadow: inset 0 0 0.5em 0 var(--clr-teal), 0 0 0.5em 0 var(--clr-teal);
  
  position: relative;
}

.neon-button-three::before {
  pointer-events: none;
  content: '';
  position: absolute;
  background: var(--clr-teal);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button-three::after {
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  box-shadow: 0 0 2em 0.5em var(--clr-teal);
  opacity: 0;
  background-color: var(--clr-teal);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button-three:hover,
.neon-button-three:focus {
color: white;
text-shadow: white;
}

.neon-button-three:hover::before,
.neon-button-three:focus::before,
.neon-button-three:hover::after,
.neon-button-three:focus::after {
opacity: 1;
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    margin: 0 10px;
    max-width: 100%;
    text-align: center;
    padding: 1rem 0 3rem;
    justify-content: center;
  }
  .blade {
    max-width: calc(100% - 5rem);
  }
  .neon-button {
    width: 100%;
  }

  .neon-button-two {
    width: 100%;
    margin-bottom: 10px;
  }

  .neon-button-three {
    width: 100%;
    margin-bottom: 10px;
  }

  .neon-button-two::before {
    opacity: 0.3;
  }

  .neon-button-container {
    flex-direction: column;
    flex: 1;
  }
}