.header {
    padding: 1rem 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: hsla(0, 100%, 100%, 1);
    font-size: 3rem;
    text-decoration: none;
}

.title:hover {
    text-shadow: 0 0 2px white;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: #999999;
    font-size: 0.9rem;
    margin-right: 1.3rem;
    text-decoration: none;

}

.nav-item:hover {
    color: #666666
}

.active-nav-item {
    color: #333333
}

button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 20px;
}

button:hover {
    text-shadow: 0 0 2px white;
}