.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-Index: 1000;
    width: 90vw;
    max-width: 900px;
    min-height: 80%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 5px darkslateblue;
}

@media (max-width: 700px) {
    .modal {
        flex-direction: column-reverse;
        height: auto;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        width: 100%;
    }

    .about-me,
    .contact {
        padding: 20px 10px;
    }
}

.about-me {
    flex: 1;
    background-color: hsl(50, 20%, 95%);
    color: hsl(231, 58%, 16%);
}

.about-me-content,
.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 10px;
}

.contact {
    flex: 1;
    background-color: hsl(230, 40%, 20%);
    color: hsl(50, 20%, 95%);
}

.contact-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1
}

.button-close {
  cursor: pointer;
}

textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid lightskyblue;
    outline: none;
    background-color: inherit;
}

h3 {
    padding: 70px 30px 15px;
}

p {
    padding: 0 30px;
}

.input {
    margin-bottom: 20px;
    position: relative;
    margin: 10px;
    input {
        background-color: hsl(230, 40%, 20%);
        color: white;
    }
    input, select, textarea {
        color: white;
        font-size: 14px;
    }
  }
  
  .input label {
    font-size: 14px;
    color: white;
    display: block;
  }
  
  .input input {
    border: none;
    border-bottom: 1px solid lightskyblue;
    width: 100%;
    outline: none;
    padding: 0;
    height: 28px;
  }
  
  .input-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0%;
    transition: all 300ms ease-in-out;
  }
  
  .input input:focus ~ .input-indicator {
    left: 0;
    width: 100%;
    background-color: lightskyblue;
  }

  .center {
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .outer {
    position: relative;
    margin: 0 50px;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  }

  .button {
    height: 40px;
    width: 180px;
    border-radius: 20px;
  }

  .outer button, .outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
  }

  .outer button {
    background: #fff;
    color: #000;
    outline: none;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 9;
  }

  .button button {
    height: 30px;
    width: 170px;
    border-radius: 20px;
  }

  .outer span {
    height: 100%;
    width: 100%;
    background: inherit;
  }
  
  .button span {
    border-radius: 20px;
  }

  .outer:hover span:nth-child(1) {
    filter: blur(7px)
  }
  
  .outer:hover span:nth-child(2) {
    filter: blur(14px)
  }
  
  .outer:hover {
    animation: rotate 1.5s linear infinite;
  }

  @keyframes rotate {
    0%{
      filter: hue-rotate(0deg)
    }
    100%{
      filter: hue-rotate(360deg)
    }
  }